    <div class="main-content font-courier code-green">
      <!-- Continuous Typing Title curteousy of Haitham M. Al-Beik -->
      <h1>
        <form name="news">
          <textarea name="news2" cols=40 rows=4 wrap=virtual readonly id="code-title" class="font-courier code-green"></textarea>
        </form>
      </h1>
      <h3>------------------</h3>
      <section class="code-section white">
        <p>I recently started learning computer programming and web design, and I am current enrolled in an IT and business training programming focusing on computer science.</p>
      </section>

    </div>
