    <div class="code-content font-courier code-green">
      <script src="./js/text-typer.js"></script>
      <!-- Continuous Typing Title curteousy of Haitham M. Al-Beik -->
      <h1>
        <form name="news">
          <textarea name="news2" cols=40 rows=4 wrap=virtual readonly id="code-title" class="font-courier code-green"></textarea>
        </form>
      </h1>
      <h3>------------------</h3>
      <section class="code-section white">
        <p>I recently started learning computer programming and web design, and I am current enrolled in an IT and business training programming focusing on front end web development and business intelligence.</p>
        <br>
        <p>Here is a link to my GitHub: <span><a href="https://github.com/luna-nova" target="_blank" class="code-green">https://github.com/luna-nova</a></span></p>
        <br>
        <p>I am also working on getting my nanodegree from Udacity.</p>
      </section>
    </div>
