    <div class="main-content">
      <h1 class="font-josefin about-title">LUNANOVA</h1>
      <hr class="fade-rule">
      <img src="./images/ahhcomic.jpg" class="img-left img-small">
      <p class="font-quicksand about-content">Hey! Welcome, and all that. My name is Austin and I'm a junior developer (or at least I'd like to think). I've recently picked up programming and found that 1. I'm good at it and 2. I like it a lot.</p>
      <p class="font-quicksand about-content">But that's not all! I love to make other things as well. I write a lot of music and spend a lot of time making custom campaigns for Dungeons & Dragons. Anything creative usually catches my eye.</p>
      <p class="font-quicksand about-content">Within the last year I moved from my small town in Alaska to the "big city" here in Seattle. I love working on coding in cafes and writing notes about DnD stuff while on the bus. That's all I got so far.</p>
      <!-- <img src="http://lorempixel.com/200/200" class="img-right img-small"> -->
      <h1 class="font-josefin about-title">CONTACT</h1>
      <hr class="fade-rule">
      <p class="font-quicksand about-content">Want to say hi? Feel free to send me an email to <a href="mailto:heartofnova@gmail.com" class="email-link">heartofnova@gmail.com</a>! I love chatting about anything.</p>
    </div>
