    <div class="main-content">
      <h1 class="font-josefin about-title">WHO AM I?</h1>
      <hr class="fade-rule">
      <img src="./images/ahhcomic.jpg" class="img-left img-small">
      <p class="font-quicksand about-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="font-quicksand about-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      <img src="http://lorempixel.com/200/200" class="img-right img-small">
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h1 class="font-josefin about-title">CONTACT</h1>
      <hr class="fade-rule">
      <p class="font-quicksand about-content">Want to say hi? Feel free to send me an email to <a href="mailto:heartofnova@gmail.com" class="email-link">heartofnova@gmail.com</a>! I love chatting about anything.</p>
    </div>
