    <div class="main-content">
      <h1 class="font-josefin blue" id="music-title">MUSIC</h1>
      <section class="music-section">
        <div class="music-info-album-box">
           <!-- HOVER BOX ANIMATION -->
          <div class="cba1 top red-background color-block-horizontal"></div>
          <div class="cba2 bottom blue-background color-block-horizontal"></div>
          <div class="cba3 top green-background color-block-vertical"></div>
          <div class="cba4 bottom yellow-background color-block-vertical"></div>
          <!-- ON INFO BOX -->
          <img src="../images/nattura-album-cover.jpg" class="img-album"/>
        </div>
        <div class="music-info-box font-quicksand">
          <h2 class="font-ubuntu">NATTURA MUSICA</h2>
          <hr class="album-title-rule">
          <p>
            This OST was designed for my own custom Dungeons & Dragons campaign called "<span class="darker-green">Nattura</span>".
          </p>
          <span class="spacer"></span>
          <p>
            You can visit <a class="darker-red" href="http://lunanova.bandcamp.com" target="_blank">here</a> to hear the album on Bandcamp.
          </p>
          <h6 class="album-art-credit">Art by: billyxkaplan.tumblr.com</h6>
        </div>
      </section>

      <hr class="music-section-rule">

      <section class="music-section">
        <div class="music-info-album-box">
           <!-- HOVER BOX ANIMATION -->
          <div class="cba1 top red-background color-block-horizontal"></div>
          <div class="cba2 bottom blue-background color-block-horizontal"></div>
          <div class="cba3 top green-background color-block-vertical"></div>
          <div class="cba4 bottom yellow-background color-block-vertical"></div>
          <!-- ON INFO BOX -->
          <img src="../images/ahhart.jpg" class="img-album"/>
        </div>
        <div class="music-info-box font-quicksand">
          <h2 class="font-ubuntu">SOUNDCLOUD</h2>
          <hr class="album-title-rule">
          <p>
            I have a SoundCloud account where I upload miscellaneous snippets of music that I compose.
          </p>
          <span class="spacer"></span>
          <p>
            You can visit <a class="darker-red" href="https://soundcloud.com/lunanova" target="_blank">here</a> to hear snippets of music on SoundCloud.
          </p>
          <h6 class="album-art-credit">Photo by: Jeff Fitzwater</h6>
        </div>
      </section>

      <hr class="music-section-rule">

      <section class="music-section">
        <div class="music-info-album-box">
           <!-- HOVER BOX ANIMATION -->
          <div class="cba1 top red-background color-block-horizontal"></div>
          <div class="cba2 bottom blue-background color-block-horizontal"></div>
          <div class="cba3 top green-background color-block-vertical"></div>
          <div class="cba4 bottom yellow-background color-block-vertical"></div>
          <!-- ON INFO BOX -->
          <img src="../images/with-austink.jpg" class="img-album"/>
        </div>
        <div class="music-info-box font-quicksand">
          <h2 class="font-ubuntu">WHAT'S IN THE HAT?</h2>
          <hr class="album-title-rule">
          <p>
            My first set of musical work. This piano album was recorded back in 2011 in my high school's choir room. It definitely has a rustic quality.
          </p>
          <span class="spacer"></span>
          <p>
            You can visit <a class="darker-red" href="http://www.cdbaby.com/cd/austinkalkins" target="_blank">here</a> to hear the album on cdbaby.
          </p>
          <h6 class="album-art-credit">Art by: billyxkaplan.tumblr.com</h6>
        </div>
      </section>

    </div>
