<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta name="viewport" content="width=device-width" charset="utf-8">
    <!-- =============STYLESHEETS================ -->
    <link rel="stylesheet" href="style.css">
    <!-- ===============FONTS==================== -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css">
    <!-- ==============SCRIPTS=================== -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-route.min.js"></script>
    <title>A Magical World</title>
  </head>
  <body ng-controller="MainController">
    <!-- ===================SIDE NAVBAR======================== -->
    <!-- ====================================================== -->
    <nav class="main-navbar">
      <!-- =====PROFILE PIC===== -->
      <div id="profile-picture-container">
        <img id="profile-avatar" src="./images/lunanova-heart-sticker.png" alt="An acceptable picture of me.">
      </div>
      <!-- =====ICON LINKS===== -->
      <ul class="navbar-list font-ubuntu">
        <li>
          <div class="link-space">
            <a href="#/" class="image-link" ng-click="whichPage('home')"><img src="http://findicons.com/files/icons/2337/wireframe_toolbar_icons/48/home.png" alt="icon of a home" class="icon"></a>
            <h3 class="red text">Home</h3>
          </div>
        </li>
        <li>
          <div class="link-space">
            <a href="#/music" class="image-link" ng-click="whichPage('music')"><img src="http://c.dryicons.com/images/icon_sets/shine_icon_set/png/128x128/music_note.png" alt="icon of a two eighth notes" class="icon"></a>
            <h3 class="blue text">Music</h3>
          </div>
        </li>
        <li>
          <div class="link-space">
            <a href="#" class="image-link"><img src="https://cdn2.iconfinder.com/data/icons/website-icons/512/Website_Code-64.png" alt="icon of an self-closing HTML tag" class="icon"></a>
            <h3 class="green text">Code</h3>
          </div>
        </li>
        <li>
          <div class="link-space">
            <a href="#" class="image-link"><img src="https://developers.google.com/games/services/images/branding/ic_play_games_badge_white.png" alt="icon of a video game console" class="icon"></a>
            <h3 class="yellow text">Games</h3>
          </div>
        </li>
      </ul>
    </nav>
    <!-- ===================MAIN CONTENT======================== -->
    <!-- ======================================================= -->
    <div class="main-wrapper" ng-view>

    </div>

    <script src="./js/main-ctrl.js"></script>
    <script src="./js/home.js"></script>
    <script src="./js/music.js"></script>
  </body>
</html>
