
/********************************************
Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

/*===================SIDE NAVBAR==========================*/

.main-navbar {
  float: left;
  position: fixed;
  width: 125px;
  min-height: 100%;
  background-color: rgb(54, 50, 61);
  -webkit-box-shadow: 4px 0px 2px 0px rgb(5, 5, 5);
  -moz-box-shadow: 4px 0px 2px 0px rgb(5, 5, 5);
  box-shadow: 4px 0px 2px 0px rgb(5, 5, 5);
}

#profile-picture-container {
  width: 100px;
  margin-top: 8%;
  margin-left: 7%;
  margin-bottom: 30%;
}
#profile-avatar {
  width: 100%;
  border: 4px solid white;
  border-radius: 50px;
}

.main-navbar li {
  text-align: center;
}
.link-space {
  height: 125px;
}
.text {
  display: none;
  /*For fun animation purposes, of course!*/
}
.icon {
  width: 48px;
}

/*===================MAIN CONTENT==========================*/

h1 {
  font-size: 42px;
}

.about-title {
  text-align: center;
  margin-top: 5%;
}
.about-content {
  font-size: 22px;
  margin-bottom: 4%;
}

.main-content {
  margin-left: 31%;
  display: inline-block;
  width: 50%;
}

/*===================MUSIC PAGE==========================*/

#music-background {
  background-image: url("http://www.woollettaquanet.info/SheetMusic/background-rotate/04-MusicOldSheets.jpg");
}
#music-title {
  display: block;
  background-color: white;
  padding-top: 8px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

.music-info-album-box,
.music-info-box {
  position: relative;
  display: inline;
  background-color: white;
  height: 200px;
  padding: 12px;
  margin-top: 75px;
}
.music-info-album-box {
  float: left;
}
.music-info-box {
  float: right;
  width: 50%;
}

.color-block-horizontal,
.color-block-vertical {
  position: absolute;
  display: none;
}
.color-block-horizontal {
  width: 100%;
  height: 12px;
}
.color-block-vertical {
  width: 12px;
  height: 100%;
}
.top {
  top: 0;
  left: 0;
}
.bottom {
  bottom: 0;
  right: 0;
}
.album-art-credit {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

/*==================FONTS + COLORS=======================*/

.font-ubuntu {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}
.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}


.blue {
  color: rgb(164, 204, 227);
}
.blue-background {
  background-color: rgb(164, 204, 227);
}
.red {
  color: rgb(231, 164, 164);
}
.red-background {
  background-color: rgb(231, 164, 164);
}
.green {
  color: rgb(182, 240, 187);
}
.green-background {
  background-color: rgb(182, 240, 187);
}
.yellow {
  color: rgb(237, 234, 167);
}
.yellow-background {
  background-color: rgb(237, 234, 167);
}
.darker-green {
  color: rgb(112, 149, 115);
}
.darker-red {
  color: rgb(231, 164, 164) !important;
}

/*==================IMAGE STYLES=======================*/

.img-left {
  float: left;
  margin-right: 2%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.img-right {
  float: right;
  margin-left: 0.5%;
  margin-top: 1%;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.img-small {
  width: 200px;
  height: 200px;
}

/*==================MISC. CLASSES=======================*/

.email-link {
  text-decoration: underline;
  color: rgb(21, 52, 52);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.fade-rule {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.spacer {
  height: 5%;
  display: block;
}

/*==================MEDIA QUERIES=======================*/

@media screen and (max-width: 940px) {
  .main-content {
    margin-left: 28%;
    width: 60%;
  }
}

@media screen and (max-width: 760px) {
  .main-content {
    margin-left: 30%;
    width: 60%;
  }
}

@media screen and (max-width: 620px) {
  .main-content {
    margin-left: 31.6%;
    width: 60%;
  }
}

/*TODO: MOVE MOBILE STYLING TO DEFAULT*/

@media screen and (max-width: 564px) {
  .main-navbar {
    float: none;
    width: 100%;
    display: inline-block;
    position: static;
    min-height: 75px;
    max-height: 125px;
    padding-top: 2%;
  }
  .main-navbar li {
    display: inline-block;
    margin-left: 8%;
  }
  .link-space {
    float: right;
    padding-top: 14px;
  }
  #profile-picture-container {
    float: left;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 0;
    display: inline-block;
  }
  .main-content {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .text {
    display: block;
  }
  .img-small {
    width: 125px;
    height: 125px;
  }
  .about-content {
    font-size: 18px;
  }
  .img-left {
    margin-right: 4%;
  }
}

@media screen and (max-width: 464px) {
  .icon {
    width: 24px;
  }
  #profile-picture-container {
    width: 75px;
    height: 75px;
  }
}
